<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lamyatweng.mmugraduationstaff">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_mmu_logo_short_24dp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:noHistory="true" />
        <activity android:name=".Convocation.ConvocationEditActivity" />
        <activity android:name=".Convocation.ConvocationAddActivity" />
        <activity android:name=".Convocation.ConvocationDisplayDetailActivity" />
        <activity android:name=".Session.SessionDisplayDetailActivity" />
        <activity android:name=".Session.SessionListActivity" />
        <activity android:name=".Session.SessionProgrammeListActivity" />
        <activity android:name=".Session.SessionEditActivity" />
        <activity android:name=".Session.SessionAddActivity" />
        <activity android:name=".Session.SessionProgrammeAddActivity" />
        <activity android:name=".Seat.SeatDisplayDetailActivity" />
        <activity android:name=".Seat.SeatEditActivity" />
        <activity android:name=".Seat.SeatDisplayArrangementActivity" />
        <activity android:name=".ResetPasswordActivity"></activity>
    </application>

</manifest>
